# system files
.directory
*.lock
junk
Thumbs.db

# data
*.shp
*.shx
*.cpg
*.dbf
*.prj
*.zip
*.pdf
*.sbx
*.sbn
*.xml
*.txt
*.gdb
*.gdb*
*.gdb/*
a000*
timestamps
gdb

# product files
*.tif
*.tfw
*.tif.ovr

# cache
data/intermediate/*
data/final/results.rda

# do not ignore the following files
!.gitkeep
!*/
