# system files
.directory
*.lock
junk

# data
*.shp
*.shx
*.cpg
*.dbf
*.prj
*.zip
*.pdf
*.sbx
*.sbn
*.xml
*.txt

# product files
*.tif
*.tfw
*.tif.ovr

# cache
data/intermediate/*
data/final/results.rda

# do not ignore the following files
!.gitkeep
!*/
